<p id="notice"><%= notice %></p>

<h1>Atividades</h1>

<table class="table">
  <thead>
    <tr>
      <th>Atividade</th>
      <th>Usuário</th>
      <th>Pontos</th>
    </tr>
  </thead>

  <tbody>
    <% @atividades.each do |atividade| %>
        <tr>
          <td><%= atividade.titulo %></td>
          <td><%= atividade.usuarios.select(:nome).distinct[0].nome if atividade.usuarios.any? %></td>
          <td><%= atividade.usuarios.select(:nome).count if atividade.usuarios.any? %></td>
        </tr>
    <% end %>
  </tbody>
</table>
