<p id="notice"><%= notice %></p>

<h1>Atividades</h1>

<table class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Usuário</th>
    </tr>
  </thead>

  <tbody>
    <% @atividades.each do |atividade| %>
      <% atividade.usuarios.each do |usuario| %>
        <tr>
          <td><%= atividade.titulo %></td>
          <td><%= usuario.nome %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
